body {
    background-color: $backgrou-color;
  }
//   .entry-header {
//     position: relative;
//     background: $mian-color;
//     display: block;
//     width: 100%;
//     height: 12rem;
//     margin: 0;
//     padding: 3rem 0 6rem;
//   }
//   .entry-title {
//     font-family: var(--main-font-family);
//     color: $white;
//     text-align: center;
//   }

  
.container {
    max-width: 1320px;
    display: flex;
    justify-content: center;
}
  
.panel {
    position: relative;
    background: $white;
    border-radius: 0.75rem;
    padding: 2.5rem;
    box-shadow: 0 0 50px rgb(0 0 0 / 4%);
    margin-top: -3rem;
}


.form {
    display: flex;
    /* padding: 50px; */
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    &__select {
        border: none;
        cursor: pointer;
        color: $mian-color;
        font-family: var(--main-font-family);
        font-size: 28px;
        margin-bottom: 20px;
    }
    &__text-box {
        font-family: var(--second-font-family);
        height: 50px;
        width: 100%;
        cursor: pointer;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        background-color: $mian-color;
        &:hover {
            background-color: #f7e2b5;
        }
    }
}

::placeholder {
    color: white;
    font-family: var(--second-font-family);
}

.btn {
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 0.6rem;
    background-color: $button-bg;
    margin-left: 0.5rem;
    border-radius: 28px 4px;
    transition: var(--transform);
    color: white;
}
.btn:hover {
    box-shadow: var(--transform);
    transform: var(--scale);
}
