.header-wrapper {
    background-color: #ddb96c;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 10px;
        &:hover{
            color: #6c90dd;
        }
        &__icon {
            margin-right: 10px;
            color: white;
        }
        &__text {
            @media screen and (min-width: 401px) {
                font-size: 36px;
            }

            font-family: var(--main-font-family);
            color: white;
        }
    }
}

.nav-link {
    font-family: var(--second-font-family);
    color: white;
    &:hover {
        background-color: #6c90dd;
        color: white;
        transform: transform 0.4s ease;
    }
}

.dropdown {
    display: none;
}

@media screen and (max-width: 730px) {
    .dropdown {
        display: flex;
    }
    .nav {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    // .logo__text { 
    //     display: none;
    // }
    .logo__text {
        font-size: 18px;
    }
}