$background-color: #f1f6fa;
$main-color: #ddb96c;
$button-bg: #6c90dd;
$button-hover-bg: #9ab4ec;
$p-cl: #999;
$white: #fff;

$main-font-family: "Fascinate", sans-serif;
$second-font-family: "Zen+Maru+Gothic", sans-serif;